Library/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

[Dd]esktop.ini
Thumbs.db
ehthumbs.db

*.unityproj
*.pidb.meta
*.pdb
*.mdb
*.opendb

*.apk
*.aab
*.exe
*.app
*.msi
*.dll
*.dylib
*.so
*.iso
*.ipa
*.jar
*.bc

sysinfo.txt
*.stacktrace
*.log

/[Aa]sset[Ss]tore/

.cache/

